main {
    width:90%;
    min-height: 100vh;
    padding: 40px;
    display:flex;
    flex-direction:column;
}

h1{
    margin: 32px auto 0;
    font-size: 52px;
    font-weight: 700;
}

.topNavigationBar{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

.topNavigationBar > time {
    font-size:24px;
}

.addButton {
    user-select : none;
    outline: none;
    font-size:20px;
    //cursor: pointer;
    color: #858c97;
    border-color: #c2cad4;
    padding:20px;
    -moz-box-shadow: 6px 3px 10px 9px #dddddd;
    background-color: #ffffff;
    border-radius:8px;
}

.addButton:hover {
    color: #ced0da;
    border-color: aaafb9;
}


.todoList{
    width:100%;
    display:flex;
    flex-direction: column;
    border-top: 2px solid #aaaaaa;
    margin-top: 30px;
}

.todoItem{
    margin-top: 20px;
    padding-left:10px;
    padding-right:10px;
    width:99%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 6px 3px 10px 9px #dddddd;
}

.todoItem button{
    user-select : none;
    outline: none;
    font-size:12px;
    cursor: pointer;
    padding:8px;
    margin:8px;
    background-color: #ffffff;
    border-radius:4px;
}

.todoTitle{
    font-size:24px;
    //font-weight:500;
    //margin-bottom:10px;
    cursor:pointer;
    //background-color:red;
}

.createdDate{
    font-size:12px;
    font-weight:400px;
    color: gray;
}

.editButton{
    color: #808080;
    border: 1px solid #808080;
}

.editButton:hover{
    color: #aaaaaa;
    border: 1px solid #aaaaaa;
}


.deleteButton{
    color: #f42d16;
    border: 1px solid #f42d16;
}

.deleteButton:hover{
    color: #f65745;
    border: 1px solid #f65745;
}
